// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Noty

@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
@import "~noty/src/lib/noty.js";
@import "~noty/src/lib/noty.js.map";

// Define variable defaults
$body-bg: #000;
$body-color: #111;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';